; {{ ansible_managed }}

$TTL 86400
@ IN SOA control.{{ domain }}. root.control.{{ domain }}. (
              3           ;Serial
              3600        ;Refresh
              1800        ;Retry
              604800      ;Expire
              86400       ;Minimum TTL
)
@  IN  NS control.{{ domain }}.
 
{% for instance in osp_instances.openstack_servers %}
{{ instance.name }} IN A {{ instance.private_v4 }}
{% endfor %}
