[load_balancers]
lb  ansible_ssh_host=lb.{{ GUID }}.{{ domain }}

[app_servers]
app1  ansible_ssh_host=app1.{{ GUID }}.{{ domain }}
app2  ansible_ssh_host=app2.{{ GUID }}.{{ domain }}

[database_servers]
db ansible_ssh_host=db.{{ GUID }}.{{ domain }}

[internal:children]
load_balancers
app_servers
database_servers

[all:vars]
GUID={{ GUID }}
